.select-wrapper input.select-dropdown {
  font-size: 25px !important;
  color: rgb(15, 221, 94);
}

.cart_page {
  background: $secondWhite;
  background: url("../img/burlap24.jpg") !important;
  background-size: 400px !important;
  background-attachment: fixed !important;
  padding-top: 100px;

  .cart_page_header {
    text-align: center;
    color: white !important;
    padding-bottom: 25px !important;
  }

  .card {
    .card-content {
      .card_header {
        background: rgb(85, 204, 38);
        color: white;
        text-align: center;
        font-size: 25px !important;
        clip-path: polygon(5% 10%, 100% 0, 89% 100%, 0% 90%);
        padding: 4% 8% 6% 8%;
        margin-bottom: 25px;
      }

      .card_quantity {
        text-align: center;
        padding-bottom: 20px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        i {
          margin-right: 10px;
          color: rgb(85, 204, 38);
        }

        .card_quantity_text {
          margin-right: 10px;
        }

        .card_quantity_sum {
          background: red;
          color: white;
          border-radius: 25px;
          padding: 0 12px;
        }
      }

      .card_sum {
        text-align: center;
        margin-bottom: 25px;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 25px;
      }

      .buttons_block {
        display: flex;
        justify-content: space-evenly;

        .card_button {
          // margin: 0 10px;

          i {
            margin: 0;
            font-size: 25px;
          }
        }
      }
    }
  }

  .cart_page_order_sum {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(139, 218, 120);
    text-align: center;
    color: $secondWhite;
    height: 150px;
    text-decoration: underline;
  }
}

.delivery_order {
  background: $secondWhite;
  padding: 30px 0;
  font-size: 20px;
  padding-top: 100px;

  .delivery_order_header {
    font-size: 40px !important;
    position: relative;
    top: -120px;
  }
}

.delivery_options {
  background: $secondWhite;
  margin: 0;
  padding: 50px 0;

  .delivery_options_1 {
    // display: none;

    .delivery_time_choose {
      display: none;

      .col {
        margin: 25px 0;

        input {
          font-size: 25px !important;
          color: rgb(15, 221, 94);
        }
      }
    }
  }

  // .delivery_options_2 {
  //     display: none;
  // }
}

@media (max-width: 500px) {
  .cart_page {
    .cart_page_header {
      padding-top: 50px;
      text-align: center;
      font-size: 35px !important;
      clip-path: none !important;
    }
  }

  .cart_page_order_sum {
    height: 100px !important;

    h2 {
      clip-path: none !important;
      font-size: 30px !important;
    }
  }

  .delivery_order {
    .delivery_order_header {
      font-size: 18px !important;
      position: relative;
      top: -120px;
    }
  }
}
